* {
  padding: 0;
  margin: 0;
}
header {
  background-color: #1e3121;
  height: 80px;
  width: 100%;
  position: relative;
}
h1 {
  color: white;
  position: absolute;
  left: 120px;
  top: 0;
  line-height: 80px;
}
header ul {
  position: absolute;
  right: 5vw;
  top: 0;
  line-height: 80px;
}
header li {
  display: inline;
  margin-right: 4vw;
}
header a {
  color: white;
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;
}

.MianpageSlogan {
  background-color: #2e4c33;
  color: white;
  height: 80vh;
  background-image: url("images/flowerstore\ main\ page\ background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.MianpageSlogan h2 {
  font-size: 40px;
}
.MianpageSlogan p {
  color: #f5f2e7;
  font-size: 20px;
  margin: 25px 0;
}
.MianpageSlogan a {
  color: white;
  text-decoration: none;
}
.MianpageIntroduction {
  background-color: antiquewhite;
  color: rgb(88, 62, 55);
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 1.8em;
}

.info {
  display: flex;
}

.info img {
  width: 40%;
}
.info1 {
  width: 60%;
  background-color: #2e4c33;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info1 h2 {
  color: #f5f2e7;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 10px;
}
.info1 p {
  text-align: center;
  line-height: 2em;
  font-size: 16px;
  color: #f5f2e7;
  margin-top: 10px;
  margin-bottom: 40px;
}
footer {
  background-color: #1e3121;
  color: white;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  line-height: 1.8em;
}

/* Product-page*/
.product-header img {
  width: 100%;
  height: 400px;
}

.product-middle {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 800px;
  background-color: antiquewhite;
  text-align: center;
}

.product-middle h3 {
  padding-top: 70px;
  font-size: 25px;
  margin-bottom: 20px;
  color: rgb(88, 62, 55);
}

.product-middle hr {
  width: 80%;
  height: 2px;
  background-color: rgb(88, 62, 55);
  border: none;
  margin: 15px auto;
}
.product-middle p {
  font-size: 15px;
  color: rgb(88, 62, 55);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 120px;
  margin-right: 120px;
  padding-top: 70px;
  gap: 5px;
}

.container-text {
  color: rgb(88, 62, 55);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.container h2 {
  font-size: 30px;
  margin-bottom: 10px;
}
.box {
  width: 50%;
  height: 310px;
  background-color: rgba(128, 128, 128, 0.11);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
}

.recommendation {
  width: 50%;
  height: 350px;
  object-fit: cover;
}

.container p {
  font-size: 20px;
}

/*bottom*/
.product-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1200px;
  background-color: #2e4c33;
  text-align: center;
  position: relative;
}

.product-bottom h3 {
  padding-top: 70px;
  font-size: 25px;
  margin-bottom: 20px;
  color: #f5f2e7;
}

.product-bottom hr {
  width: 80%;
  height: 2px;
  background-color: white;
  border: none;
  margin: 15px auto;
}
.product-bottom p {
  font-size: 23px;
  color: #f5f2e7;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 600px;
}
.card {
  width: 400px;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin: 10px;
  color: black;
  cursor: pointer;
  top: 200px;
}
.card img {
  width: 100%;
  height: 100%;
  transition: 0.35s;
}
.card .text {
  position: absolute;
  inset: 30px;
  padding: 0 18px;
}

.card .text h2,
.card .text p {
  margin-top: 10px;
  opacity: 0;
  transition: 0.35s;
}

.card .text h2 {
  font-size: 40px;
  font-weight: 300;
  transform: translate(30% 0%);
  transition-delay: 0.3s;
}
.card .text p {
  font-size: 28px;
  font-weight: 200;
  transform: translate(0% 30%);
}

.card .button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #2e4c33; /* 绿色背景 */
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  opacity: 0; /* 默认隐藏 */
  transition: opacity 0.35s, transform 0.3s;
  border-radius: 5px;
}

.card .button:hover {
  background-color: #1f3624;
}

.card:hover img {
  transform: scale(1.2);
  opacity: 0.5;
}

.card:hover .text h2,
.card:hover .text p,
.card:hover .button {
  opacity: 1;
  transform: translate(0% 0%);
  transition-delay: 0.4s;
}
